.curves,
.curvesflipped {
    aspect-ratio: 900/200;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 1rem;
    z-index: 1;
}

.curves {
    margin-top: 70vh;
    background-image: url("../public/layer.svg");
}

.curvesflipped {
    transform: rotate(180deg);
    margin: 0;
    background-image: url("../public/layerflipped.svg");
}

.blobcontent {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.red {
    width: 100vw;
    background: rgb(152, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 5rem;
    column-gap: 5rem;
    z-index: 1;
}

@media (max-width: 1150px) {
    .red {
        padding: 0 3rem;
        flex-direction: column;
    }
}
