.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1150px) {
    .animatedgrid {
        height: 80vh;
        margin: 2rem;
        width: 100vw;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;

        display: grid;
        gap: 1rem;

        grid-template-areas:
            "a  b  c  d"
            "l  🌟 🌟  e"
            "k  🌟 🌟  f"
            "j  i  h  g";

        grid-template-rows: repeat(4, 25%);
        grid-template-columns: 240px auto auto 240px;
    }
}

@media (max-width: 1150px) {
    .animatedgrid {
        height: 80vh;
        margin: 2rem;
        width: 100vw;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;

        display: grid;
        gap: 0.5rem;

        grid-template-areas:
            "a  c   d"
            "l  🌟  e"
            "i  h  g";

        grid-template-rows: repeat(3, 33%);
        grid-template-columns: repeat(3, 33%);
    }
}

@media (max-width: 750px) {
    .animatedgrid {
        height: 80vh;
        margin: 2rem;
        width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3.5rem;

        display: grid;
        gap: 0.5rem;

        grid-template-areas:
            "d  c"
            "🌟  🌟"
            "i  h";

        grid-template-rows: repeat(3, 33%);
        grid-template-columns: repeat(2, 50%);
    }
}

.card {
    width: 100%;
    background-color: transparent;
    position: relative;
    border-radius: 1rem;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
        rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

.card .image {
    object-fit: cover;
    border-radius: 1rem;
    height: 100%;
    width: 100% !important;
    position: relative !important;
}

.card:nth-child(1) {
    grid-area: a;
}
.card:nth-child(2) {
    grid-area: b;
}
.card:nth-child(3) {
    grid-area: c;
}
.card:nth-child(4) {
    grid-area: d;
}
.card:nth-child(5) {
    grid-area: e;
}
.card:nth-child(6) {
    grid-area: f;
}
.card:nth-child(7) {
    grid-area: g;
}
.card:nth-child(8) {
    grid-area: h;
}
.card:nth-child(9) {
    grid-area: i;
}
.card:nth-child(10) {
    grid-area: j;
}
.card:nth-child(11) {
    grid-area: k;
}
.card:nth-child(12) {
    grid-area: l;
}
.card:last-child {
    grid-area: 🌟;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: none;
}
